* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ccd6f6;
}

@font-face {
  font-family: 'SmileySansOblique';
  src: url('./assets/SmileySans-Oblique.otf.woff2') format('woff2');
  font-weight: light;
  font-style: oblique;
}

body {
  height: 100vh;
  width: 100vw;
  min-width: 400px;
  margin: 0px;
  overflow-x: hidden;

  font-family: "Segoe UI", -apple-system, 'SmileySansOblique', Arial, sans-serif;
}

#root {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  background-color: #0a192f;
}

.header {
  width: 100%;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigationBar {
  min-width: 400px;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 40px;
}

.navigationBarText {
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.navigationBarText:hover {
  color: #64ffda;
}

/* -----------------------------------------------------------------home */
.home {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.home-box {
  width: 1000px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-smallHeader {
  padding-left: 5px;
  font-size: 18px;
  line-height: 24px;
  color: #64ffda;
}

.home-name {
  font-weight: bold;
  line-height: 80px;
  font-size: 70px;
  color: #ccd6f6;
}

.home-role {
  font-weight: bold;
  line-height: 80px;
  font-size: 70px;
  color: #8892b0;
}

.home-brief {
  margin-top: 20px;
  width: 500px;
  padding-left: 5px;
  font-size: 18px;
  line-height: 26px;
  color: #838dab;
}
